.container_for_product {
    margin: 20px 0 20px 0;    
    display: flex;
}

.category {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}

.category button {
    width: 150px;
    border: none;
    margin: 20px;
    background: transparent;
}

.category button:hover {
    transform: scale(1.1);
    transition: .4s;
    cursor: pointer;
    border-left: 3px solid;
    background-color: rgb(240, 240, 178);
}

h3 {
    margin-left: 10px;
}


.product {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.card_link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}

.card_link:hover {
    color: black;
}

.parent {
    border-radius: 8%;
    margin: 20px 0 20px 0;
}

.parent:hover {
    transform: scale(1.1);
    transition: .5s;
    background-color: rgb(240, 240, 178);
    border: 2px solid;
}

.child-2-1-1 {
    font-size: 30px;
}