h1 {
    letter-spacing: 4px;
    word-spacing: 2px;
    border-bottom: 2px solid;
    text-align: center;
}

.central_div {
    background: url(../image/Icon/Fruit.jpg);
}

.main_div {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.right {
    width: 45%;
    background-color: rgba(255, 255, 255, 0.925);
    border-left: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    margin-bottom: 5px;
}

.list_card {
    display: flex;
    gap: 5%;
    box-shadow: 1px 1px 2px 1px;
    margin: 10px;
    padding: 5px 5px 5px;
    border-radius: 5px;
    background-color: white;
}

.left {
    width: 45%;
    background-color: rgba(255, 255, 255, 0.925);
    border-left: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    margin-bottom: 5px;
}

.banking_div {
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    gap: 40px;
    margin: 1px 60px;
}

label {
    margin: 1px 60px;
}

.option_div {
    display: flex;
    gap: 20px;
}

.option_div:hover {
    transform: scale(1.15);
    transition: .3s;
}

#amount {
    width: 150px;
    box-shadow: 1px 1px 2px 1px;
    font-size: 25px;
    font-family: TeX Gyre Termes Math, serif;
    letter-spacing: 1px;
}

.wallet {
    height: 100px;
    width: 120px;
    display: flex;
    align-items: center;
    background: url('../image/Icon/wallet.png');
    background-size: 100% 100%;
}

.wallet input {
    height: 35px;
    width: 80px;
    margin: 32px 2px 0 5px;
    padding-left: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    
    background: transparent;
    color: white;
    font-weight: bold;
}

label {
    font-size: 17px;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: bold;
}


.option_div button {
    width: 180px;
    margin-left: 10px; 
    border-radius: 10px;
    font-size: 20px;
}

button:hover {
    font-weight: bold;
    border-left: 5px solid;
    border-right: 5px solid;
    
}


