ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #BFD8AF;
position: relative;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}
.footer-cta {
border-bottom: 2px solid #f9f7f7;
}
.single-cta i {
color: #056e21;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #000000;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #000000;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo p {
font-size: 25px;
font-weight: 600;
color: #056e21;
}
.footer-logo p span{
  font-size: 35px;
  font-weight: 600;
  color: red;
  }
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #000000;
line-height: 28px;
}
.footer-social-icon span {
color: #000000;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #056e21;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #ffffff;
}
.twitter-bg{
background: #ffffff;
}
.google-bg{
background: #ffffff;
}
.footer-widget-heading {
  position: relative; /* Add position relative to the parent */
}

.footer-widget-heading h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative; /* Remove position relative from here */
  transition: color 0.3s ease;
}


.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #0b5a1d;
  transition: color 0.5s, transform 0.2s;
}
.footer-widget ul li a {
color: #000000;
text-transform: capitalize;
text-decoration: solid;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #ffffff;
border: 1px solid #056e21;
color: #000000;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #046c25;
  padding: 13px 20px;
  border: 1px solid #056e21;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #99BC85;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #fff9f9;
}
.copyright-text p a{
color: #06731f;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ffffff;
}
.footer-menu li a {
font-size: 14px;
color: #ffffff;
}