  /* General footer styles */
  .footer {
    background-color: #00224D;
    color: #fff;
    padding: 20px;
  }

  /* Columns in the footer */
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* Individual column styles */
  .footer-col {
    flex-basis: calc(33.333% - 20px);
    margin-bottom: 20px;
  }
  .footer-col h4{
    color: #e8670c;
  }

  .footer-col h5 {
    margin: 2% 0;
    color: #08dc67;
  }
  .footer-col h2{
    color: #e8670c;
  }
  .footer-col h2 span{
    color: #05810d;
  }

  .footer-col p {
    color: #e7ece6d1;
  }

  .footer-col ul.links {
    list-style-type: none;
    padding: 0;
  }

  .footer-col ul.links li a {
    margin-bottom: 10px;
    text-decoration: none; 
    color: rgb(176, 233, 8); 
}

.footer-col ul.links li a:hover {
    color: #e8670c;
}
  .footer-col .icons {
    margin-top: 5px;
  }

  .footer-col .icons i {
    margin-right: 30px;
    font-size: 20px;
    color: #9fed18;
  }
  .footer-col .icons i:hover{
    color: rgb(250, 125, 7);
  }
  .copyright {
  text-align: center;
  color: #f5f2f0; 
}

.copyright p {
  margin: 0 0; 
}
.subscrive{
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    margin: 10px 10px;
}
.subscribe input{
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 80px;
    font-size: 70%;

}
.subscribe button{
    background: #05810d;
    font-size: 70%;
    padding: 7px 25px;
    border: none;
    cursor: pointer;
    color: #fff;

}
.subscribe button:hover{
  background: rgb(134, 185, 148);
  text-decoration: none;
  color: rgb(0, 0, 0);
}