body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
   
    padding: 0px ;
}

.nav{
    margin-right: 40px;
    position: inherit;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: rgb(251, 97, 2);
    z-index: 100;

}
.nav ul{
    margin-left: 50px;
    display: contents;
    
}
.nav ul li{
    list-style-type: none;


}
.nav ul li:hover {
    transform: scale(1.1);
    
    transition: .2s;
    cursor: pointer;
    font-size: 14px;

}
.nav ul li .link {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-bottom: 8px; 
    margin: 10px 0; 
    transition: color 0.5s;
}
.nav ul li .link:hover {
    transform: scale(1.1);
    border-bottom: 5px solid white;
    transition: .2s;
    cursor: pointer;
    font-size: 14px;

}
/* Style for the round cart image */
.cart_round-image {
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
}



 /* Styling for the dropdown */
 
 .round-image {
    border-radius: 50%;
    width: 50px; 
    height: 50px;
}

   /* Styling for the dropdown */
   .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10%;
  }


  /* Styling for the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    margin: 0 0;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:  9999;
    top: 90%; 
    transform: translateX(-50%);
    opacity: 0;
    cursor: pointer; /* Prevents the dropdown from interfering with other elements while hidden */
    transition: opacity 0.3s ease-in-out;
  }
  .dropdown-content p{
    font-size: 12px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
}
  /* Styling for the dropdown items */
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom:0;
    height: 60px;
  }

  /* Styling for the dropdown items on hover */
  .dropdown-content a:hover {
    box-shadow: 9px 2px 16px 5px rgba(240, 116, 0, 0.776);
    color: rgb(0, 0, 0);
  }

  /* Show the dropdown content when hovering over the dropdown container */
  .dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    pointer-events: visible;
  }

.log_out a{
    color: red;
    font-weight: 700;
}
.log_out a:hover{
    color: rgb(255, 255, 255);
    background-color: red;
    font-weight: 700;
    border: 10px solid white;
}



.nav-button .signin{
    margin-bottom: -40px;
    width: 90px;
    height: 30px;
    font-weight: 500;
    background-color: transparent;
    border: 1px  solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    color: white;
    margin-left: 10px;
    line-height: revert-layer;
}
.nav-button .signin:hover{
    transform: scale(1.1);
    background-color: rgb(143, 51, 12);
    transition: .4s;
    cursor: pointer;
    border: 2px solid white;
}
.nav-button .signin a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    
}
.srch-bar{
    border: none;
    margin-top: 1px;
    width: 150px;
    height: 30px;
    font-weight: bold;
    background: transparent;
    
}

.srch{
    border: 2px solid;
    margin-top: 25px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    
}
.srch-btn{
    background: transparent;
    border: none;
    margin-right: 0px;
    margin-top: 11.7px;
    height: 35px;
    width: 40px;
    display: flex;
    border-radius: 15px;
    
}
.logt{
    text-align: center;
    color: white;
    margin-top:18%;
    font-size: 25px;
    font-weight: bolder;
}
.logt span{
    color: #ffffff;
    font-size: 35px;
    font-weight: bolder;
    

}
.logt a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 600;
}