body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
   
    padding: 1px ;
}

.nav{
    margin-right: 40px;
    position: inherit;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: rgba(247, 241, 167, 0.463);
    z-index: 100;

}
.nav ul{
    margin-left: 50px;
    display: contents;
}
.nav ul li{
    list-style-type: none;
}
.nav ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: black;
    padding-bottom: 5px;
    margin:  10px; 

}

.nav-button .signin{
    margin-bottom: -40px;
    width: 130px;
    height: 40px;
    font-weight: 500;
    background-color: green;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    color: white;
    margin-left: 20px;
    
}
.nav-button .signin a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    
}
.srch-bar{
    border: none;
    margin-top: 1px;
    width: 150px;
    height: 30px;
    font-weight: bold;
    background: transparent;
    
}

.srch{
    border: 2px solid;
    margin-top: 25px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    
}
.srch-btn{
    background: transparent;
    border: none;
    margin-right: 0px;
    margin-top: 11.7px;
    height: 35px;
    width: 40px;
    display: flex;
    border-radius: 15px;
    
}
