h3 {
   padding: 30px 0 30px 0;
   text-align: center;
   
}

/*slide text*/
.slideable-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width:100%;
    background-color: #005B41;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    white-space: nowrap; /* Prevent text from wrapping */
    z-index: -9999;
}

.slideable-text p {
    position: absolute;
    top: 50%;
    left: 100%;
    font-size: 12px;
    transform: translateY(-50%);
    animation: slideText 40s linear infinite;
    margin: 0; /* Remove default margin */
    width: auto; 
    color: #ffffff;
}

@keyframes slideText {
    0% {
        left: 100%; /* Start off the screen on the right */
    }
    100% {
        left: -100%; /* Move off the screen to the left */
    }
}




.main_div {
    background: url('../image/Icon/Fruit.jpg');
    padding-bottom: 10px;
}



.first_div {
    
    height: 340px;
    display: flex;
    justify-content: flex-start;
    gap: 0.5%;
    margin: 0 0 5px;

}

.first_div_1 {
    width: 15%;
    background-color: rgba(255, 255, 255, 0.92);
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    margin: 3px 0 3px 5px;

    border-radius: 10px;

}
.first_div_1:hover {
    background-color: white;
    box-shadow: 2px 2px 10px 4px rgb(138, 121, 121);
}

.first_div_1 div {
    margin: 6px 0 6px;
    padding: 0 5px;
}

.first_div_1 div:hover {
    transform: scale(1.1);
    transition: 0.3s;
    border-left: 5px solid rgb(74, 255, 14);
    background-color: #12372A;
    color: rgb(255, 255, 255);
}

.first_div_1 a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}


.first_div_2 {
    width: 60%;
    margin: 3px 0 3px;
    
    box-shadow: 2px 2px 10px 3px rgb(180, 176, 176);

    background-image: url("../image/Category/slide1.jpg");
    background-size: 100% 100%;
    animation: slideHome 10s infinite linear;
    animation-delay: .5s;

}
@keyframes slideHome {
    25% {background-image: url("../image/Category/slide2.jpg");}
    50% {background-image: url("../image/Category/slide3.jpg");}
    75% {background-image: url("../image/Category/slide4.jpg");}
}

.first_div_3{
    width: 23%;
    background-color: rgba(255, 255, 255, 0.92);
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    margin: 3px 0 3px 5px;

    border-radius: 10px;
}

/*This CSS for Product Salling ...................*/



.grand_1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0 25px;
}

.grand_1 a {
    text-decoration: none;
    color: black;
}

.parent {
    width: 220px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 1px 1px 6px 3px rgb(155, 152, 152);
    background-color: rgba(255, 255, 255, 0.842);
}

.parent:hover {
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
    transition: .5s;
    cursor: pointer;
    color: black;
}

.child-1 {
    height: 130px;
}

.child-1 img {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}


.child-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.child-2-1-1 {
    font-size: 20px;
    font-weight: bold;
}

.child-2-1-2{
    font-size: 20px;
    word-spacing: 10px;
    letter-spacing: 5px;
}
.child-2-1-3 {
    font-size: 10px;
    word-spacing: 3px;
    letter-spacing: 1px;
    color: #198c07;
    height: 8px;
}


/*..END.. CSS of Product Selling ...............*/



.all_product_btn {
    
    display: flex; 
    justify-content: center;
    margin: 20px 0 50px;
    padding-right: 25px;
}

.all_product_btn div {
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 40px;
    border-radius: 10px;
    padding: 5px 0 10px;
    box-shadow: 2px 2px 10px 4px black;

    animation: allProduct 4s infinite linear;
}

@keyframes allProduct {
    25% {background-color:#12372A;}
    50% {background-color: #14513c; transform: scale(1.12);}
    75% {background-color: #103628; transform: scale(1.15);}
}

.all_product_btn div:hover {
    color: rgb(45, 255, 12);
}

.all_product_btn a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
}




/*This CSS for পণ্য বিভাগ.*/


.grand {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0 20px;
}

.product_parent {
    background-color: rgba(255, 255, 255, 0.842);
    width: 45%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 6px 3px;

}
.product_parent:hover{ 
    transform: scale(1.1);
    transition: 0.5s;
    background-color: white;
}

.product_child_1 {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    margin: 5px 0 5px;
    border-bottom: 3px solid;

}
.product_child_1 img {
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid;

}

.product_child_2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5%;
}

.product_child_2 a, .product_child_2 a:hover {
    color: black;
    text-decoration: none;
}

.product_child_2_1 {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    padding: 10px;
    margin: 15px 0px 15px 20px;

    border-radius: 10px;
    box-shadow: 1px 1px 6px 3px;

}
.product_child_2_1:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.product_child_2_1 img {
    width: 50px;
    height: 50px;
}



/*This CSS for মাস সেরা চাষী.*/


.farmer-parent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5%;
    margin-bottom: 20px;
}

.farmer-child {
    background-color: rgba(255, 255, 255, 0.842);
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 1px 1px 4px 2px;
    border-radius: 10px;
    margin: 10px 0 10px;
}

.farmer-child:hover {
    transform: scale(1.08);
    background-color: white;
    transition: .5s;
    cursor: pointer;
}

.farmer-child-1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px;
    margin: 10px 0 10px;
}

.farmer-child-2 {
   font-size: 20px;
   font-weight: bold;
}

.farmer-child-3 {
   font-size: 14px;
   margin-bottom: 10px;
}

