h3 {
   padding: 30px 0 30px 0;
   text-align: center;
   
}

/*slide text*/
.slideable-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width:100%;
    background-color: #D4E7C5;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    white-space: nowrap; /* Prevent text from wrapping */
    z-index: -9999;
}

.slideable-text p {
    position: absolute;
    top: 50%;
    left: 100%;
    font-size: 12px;
    transform: translateY(-50%);
    animation: slideText 40s linear infinite;
    margin: 0; /* Remove default margin */
    width: auto; 
    color: #000000;
}

@keyframes slideText {
    0% {
        left: 100%; /* Start off the screen on the right */
    }
    100% {
        left: -100%; /* Move off the screen to the left */
    }
}




.main_div {
    /*background: url('../image/Icon/Fruit.jpg');*/
    background-color: #ffffff;
    padding-bottom: 10px;
}



.first_div {
    
    height: 340px;
    display: flex;
    justify-content: flex-start;
    gap: 0.5%;
    margin: 0 0 5px;

}

.first_div_1 {
    width: 15%;
    background-color: #E1F0DA;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    margin: 3px 0 3px 5px;

    border-radius: 10px;

}
.first_div_1:hover {
    box-shadow: 2px 2px 10px 4px rgb(138, 121, 121);
}

.first_div_1 div {
    margin: 6px 0 6px;
    padding: 0 5px;
}

.first_div_1 div:hover {
    transform: scale(1.1);
    transition: 0.3s;
    border-left: 5px solid rgb(28, 92, 7);
    background-color: #99BC85;
    color: rgb(255, 255, 255);
}

.first_div_1 a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.first_div_1 a:hover{
    text-decoration: none;
    color: white;
}

.first_div_2 {
    position: relative; /* Ensure the container is positioned */
    width: 60%;
    margin: 3px 0 3px;
    border-radius: 10px;
    overflow: hidden; /* Ensure the video stays within the container */
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    object-fit: fill; /* Ensure the video covers the entire container */
}

@media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: 120%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: auto;
        height: 100%;
    }
}


.first_div_3{
    width: 23%;
    background-color: #E1F0DA;
    display: flex;
    flex-direction: column;
    padding: 1px 10px;
    margin: 3px 0 3px 1px;

    border-radius: 10px;
}
.first_div_3 p{
    font-size: 14px;
    color:#456e5a ;
    text-align: justify;
    line-height: 1.5em;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.first_div_3:hover {
    box-shadow: 2px 2px 10px 4px rgb(138, 121, 121);
}

.first_div_3 div {
    margin-bottom: 3px;
    margin-left: 10%;
    padding: 0 6px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first_div_3 div:hover {
    transform: scale(1.1);
    transition: 0.3s;
    border-left: 5px solid rgb(28, 92, 7);
    background-color: #99BC85;
    color: rgb(255, 255, 255);
}

.first_div_3 a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.first_div_3 a:hover{
    text-decoration: none;
    color: white;
}









 /* Slider container */
 .slider-container {
    width: 400px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
}

/* Slider content */
.slides {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

/* Individual slide */
.slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adjust slide content */
.slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/*This CSS for Product Salling ...................*/



.grand_1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0 25px;
}

.grand_1 a {
    text-decoration: none;
    color: black;
}

.parent {
    width: 170px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 1px 1px 6px 3px rgb(155, 152, 152);
    background-color: rgba(255, 255, 255, 0.842);
}

.parent:hover {
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
    transition: .5s;
    cursor: pointer;
    color: black;
}

.child-1 {
    height: 130px;
}

.child-1 img {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}


.child-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.child-2-1-1 {
    font-size: 20px;
    font-weight: bold;
}

.child-2-1-2{
    font-size: 20px;
    word-spacing: 10px;
    letter-spacing: 5px;
}
.child-2-1-3 {
    font-size: 10px;
    word-spacing: 3px;
    letter-spacing: 1px;
    color: #198c07;
    height: 8px;
}


/*..END.. CSS of Product Selling ...............*/



.all_product_btn {
    z-index: -99;
    display: flex; 
    justify-content: center;
    margin: 20px 0 50px;
    padding-right: 25px;
}

.all_product_btn div {
    background-color: #99BC85;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    padding: 5px 0 10px;
    box-shadow: 2px 2px 10px 4px black;

    animation: allProduct 4s infinite linear;
}

@keyframes allProduct {
    25% {background-color:#BFD8AF;}
    50% {background-color: #D4E7C5; transform: scale(1.12);}
    75% {background-color: #E1F0DA; transform: scale(1.15);}
}

.all_product_btn div:hover {
    color: rgb(0, 0, 0);
}

.all_product_btn a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
}




/*This CSS for পণ্য বিভাগ.*/


.grand {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0 20px;
}

.product_parent {
    background-color: rgba(255, 255, 255, 0.842);
    width: 45%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 6px 3px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

}
.product_parent:hover{ 
    transform: scale(1.1);
    transition: 0.5s;
    background-color: white;
}

.product_child_1 {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    margin: 5px 0 5px;
    border-bottom: 3px solid #99BC85;

}
.product_child_1 img {
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid;

}

.product_child_2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5%;
}

.product_child_2 a, .product_child_2 a:hover {
    color: black;
    text-decoration: none;
}

.product_child_2_1 {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    padding: 10px;
    margin: 15px 0px 15px 20px;

    border-radius: 10px;
    box-shadow: 1px 1px 6px 3px;

}
.product_child_2_1:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.product_child_2_1 img {
    width: 50px;
    height: 50px;
}
.product_child_2_1 a{
    text-decoration: solid;
    color: #99BC85;
}


/*This CSS for মাস সেরা চাষী.*/


.farmer-parent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5%;
    margin-bottom: 20px;
}

.farmer-child {
    background-color: rgba(255, 255, 255, 0.842);
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 10px;
    margin: 10px 0 10px;
}

.farmer-child:hover {
    transform: scale(1.08);
    background-color: white;
    transition: .5s;
    cursor: pointer;
}

.farmer-child-1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
         margin: 10px 0 10px;
}

.farmer-child-2 {
   font-size: 20px;
   font-weight: bold;
}

.farmer-child-3 {
   font-size: 14px;
   margin-bottom: 10px;
}

