
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: #E1F0DA;
}
.logt{
    text-align: center;
    margin-top:12%;
    margin-left: 0;
    font-size: 17px;
    font-weight: bolder;
    padding: 0 50px;
}
.logt span{
    color: #ff0707;
    font-size: 22px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #ff0000;


}
.logt a {
    text-decoration: none;
    color: rgb(23, 77, 5);
    font-weight: 600;
    text-shadow: 2px 2px 4px rgb(23, 77, 5);
}
.login{
    border:1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.75) ;
    height: 520px;
    width: 400px;

}
.form{
    display: grid;
    place-content: center;
    box-sizing: border-box;

}
.form label{
    color: rgb(3, 79, 12);
}
.mrg{
    display: grid;
    grid-template-columns: 20px 80px;
    vertical-align: top;
    margin-top: -32px;
}
.btn{
    background-color: green;
    color: aliceblue;
    border: none;
    border-radius: 30px;
    height: 40px;
    width: 190px;
    margin-left: 65px;
    margin-top: 30px;
    font-size: 17px;
    font-weight: 520;
    transition: opacity 1s;
}
.btn:hover{
    opacity: 0.85;
    box-shadow: 0 0 10px rgba(36, 30, 30, 0.8);
    cursor: pointer;
}

.a1{
color: rgb(203, 33, 33);
font-size: 12px;


}
.a1:hover{
    font-size: 13px;


}


.a2{
    color: rgb(10, 112, 41);
    font-size: 15px;
}
.a2:hover{
    font-size: 16px;
}

.bxs-phone{
    display: block;
    position: absolute;
    padding : 167px 0 0 30px;
}
.bxs-lock{
    display: block;
    position: absolute;
    padding : 246px 0 0 30px;

}
.parent{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.second{
    margin-top: 4%;
    background-color: #99BC85;
    border-radius: 30px;
    padding: 4px 4px;
}
.second a{
    text-decoration: solid;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 300;
}
.second a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(3, 2, 2);
}