body {
    font-family: 'Arial', sans-serif;
    background-color:	#E7F6F2;
    margin: 0;
    padding: 0;
 }



/*select dropdown*/
/* Style for the dropdown container */
.dropdown-container_sort {
   border-top: 1px solid black;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   margin-top: 0px;
   background-color: #E7F6F2;
}

/* Style for each dropdown */
.dropdown_sort {
   width: 500px; 
   padding: 8px;
   box-sizing: border-box;
   text-align: center;
}

/* Style for the dropdown menus */
.dropdown_sort select {
   padding: 10px;
   font-size: 16px;
   border: 2px solid rgb(21, 78, 50);
   border-radius: 30px;
   background-color: #A5C9CA;
   cursor: pointer;
   outline: none;
   width: 70%; 


}
.dropdown_sort button{
   padding: 6px 10px;
   border: 2px solid transparent; /* Transparent border to maintain button size when border changes */
   background-color: #2D4059; /* Blue background */
   color: white;
   border-radius: 10px;
   cursor: pointer;
   transition: background-color 0.3s; /* Smooth transition for background color */padding: 6px 10px;
   border: 2px solid transparent; /* Transparent border to maintain button size when border changes */
   background-color: rgb(21, 78, 50); /* Blue background */
   color: white;
   border-radius: 10px;
   cursor: pointer;
   transition: background-color 0.3s; /* Smooth transition for background color */
}

.dropdown_sort button:hover {
   background-color: #05a327; 
   transform: scale(1.04);
   transition: .4s;
   border: 2px  solid #ffffff; 
}
select:hover {
   transform: scale(1.1);
   background-color: rgb(255, 255, 255);
   transition: .4s;
   cursor: pointer;
}
/* Style when the select element is focused */
select:focus {
   border-color: #66afe9; /* Changes border color when focused */
   box-shadow: 0 0 8px rgba(102, 175, 233, 0.6); /* Adds a light blue glow around the dropdown */
}

/* Style for options in the dropdown */
option {
   padding: 8px; /* Padding for each option */
   background: white; /* Background color for each option */
   color: black; /* Text color for each option */
}

option:hover {
   transform: scale(1.1);
   background-color: rgb(255, 255, 255);
   transition: .4s;
   cursor: pointer;
}






/* General styling for the search container */
.search {
   width: 500px; 
   padding: 8px;
   box-sizing: border-box;
   text-align: center;
}

/* Styling for the input field */
.search input[type="text"] {
   width: 60%; 
   padding: 8px 10px 8px 30px; 
   margin-right: 0; 
   border: 2px solid rgb(21, 78, 50); 
   border-radius: 30px; 
   outline: none; 
   transition: border-color 0.3s; /* Smooth transition for the border color */
}

/* Styling for the button */
.search button {
   padding: 6px 10px;
   border: 2px solid transparent; /* Transparent border to maintain button size when border changes */
   background-color: rgb(21, 78, 50); /* Blue background */
   color: white;
   border-radius: 10px;
   cursor: pointer;
   transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Hover effects for input */
.search input[type="text"]:hover,
.search input[type="text"]:focus {
   border-color: #0aad1d; 
   /* Change border color on hover/focus */
   transform: scale(1.04);
   transition: .4s;
}

/* Hover effects for button */
.search button:hover {
   background-color: #05a327; 
   transform: scale(1.04);
   transition: .4s;
   border: 2px  solid #ffffff; 
}



/*slide text*/
.slideable-text {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   overflow: hidden;
   width:30%;
   background-color: rgb(21, 78, 50);
   color: #080505;
   padding: 18px;
   margin-top: 1%;
   border-radius: 5px;
   box-shadow: 0 0 10px rgb(21, 78, 50);
   white-space: nowrap; /* Prevent text from wrapping */
}

.slideable-text p {
   position: absolute;
   top: 50%;
   left: 100%;
   font-size: 15px;
   transform: translateY(-50%);
   animation: slideText 20s linear infinite;
   margin: 0; /* Remove default margin */
   width: auto; 
   color: #ffffff;
}

@keyframes slideText {
   0% {
       left: 100%; /* Start off the screen on the right */
   }
   100% {
       left: -100%; /* Move off the screen to the left */
   }
}






 .first_container {
   display: flex;
   justify-content: center; 
   width: 100%; 
}

.main-box {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 70%;
   background-color: transparent; 
   margin-left: 3%; 
   margin-right: 3%;
}

.side-box {
   width: 25%; 
   background-color: #12372A;; 
   padding: 10px;   
   color: white; 
}
.side-box-header{
   text-align: center;
   
}
.side-box-header p{
   font-size: 15px;
}
.product_child_2_1{
   padding: 8px 20px;
   border: 1px  solid rgb(255, 255, 255);
   margin-bottom: 4px;
   cursor: pointer;

}
.product_child_2_1 a{
   text-decoration: none;
   color: #ffffff;
   font-size: 16px;
}
.product_child_2_1:hover{
   transition: all 0.4s ease-in-out;
   -webkit-transition: all 0.4s ease-in-out; 
   box-shadow: inset 0 12px 20px -10px rgb(8, 255, 8);
   border-left: 20px solid rgb(8, 255, 8);
   
   }
   .product_child_2_1 a:hover{
      color: #ffffff;
   }
 
.post_form{
   background-color:#5c8576;
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   border: 1px solid green;
   margin-top:1% ;
}

 .post_form form{
   padding: 20px 20px;
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
   
 }
 .post_form form:hover{

}
.post_form_label{
   margin: 0 0;
   display: flex;
   text-align: self-start;
   color: #ffffff;
   font-weight: 400;
   font-size: 15px;
}
.post_form form p{
   background-color: #12372A;
   color: #ffffff;
   font-size: 15px;
   display: flex;
   text-align: start;
   padding: 5px 5px;
}
 .post_form form input{
   width: 90%;
   border-radius: 30px;
   height: 35px;
   margin: 0 0;   
   padding: 0 20px;
   border: 3px solid #12372A;
 }
 .post_form form input:hover{
   border: 3px solid rgb(0, 255, 34);

 }
 .post_form form textarea{
 width: 90%;
   border-radius: 30px;
   height: 50px;
   margin: 0 0;   
   padding: 0 20px;
   border: 3px solid#12372A;

 }
 .post_form form textarea:hover{
   border: 3px solid rgb(0, 255, 34);

 }
 .post_form form img{
   height: 50%;
   width: 50%;
   border-radius: 30px;
   margin-bottom: 1%;
 }

 .post_form form button{
   padding: 10px 20px;
   margin: 1%;
   background-color: #12372A;
   color: rgb(255, 255, 255);
   cursor: pointer;
   border-radius: 30px;
   border: 3px solid rgb(0, 0, 0);

 }

 .post_form form button:hover{
   background-color: rgb(12, 179, 34);
   border: 3px solid white;
   color: rgb(255, 255, 255);
 }
.post_head{
   font-size: 20px;
   padding: 5px 5px;
   color: rgb(255, 255, 255);
}
.blogHome{
   max-width: 50%;
   margin: 20px auto;
   background-color:rgb(21, 78, 50);
   padding: 20px;
   border-radius: 4px;
   box-shadow: 0 0 10px rgba(239, 235, 235, 0.358);
}
 
 h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 2%;
 }
 
 .blog-post {
    margin-bottom: 20px;
    height: auto;
    padding: 15px;
    border: 1px solid #0aff1e;
    border-radius: 8px;
    background-color: #12372A;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
 }
 
 .blog-post h3 {
    color: #ffffff;
    margin-top: 5%;
    margin-bottom: 5px;
    padding-left: 5%;
    font-size: 18px;
 }
 
 .blog-post p {
    color: #ffffff;
    font-size: 16px;
    padding-left: 5%;
 }

 .blog-post h4 {
   color: rgb(255, 255, 255);
   margin-bottom: 15px;
   margin-top: -20px;
   font-size: 10px;
   padding-left: 65px;
}
.blog-post h5 {
   color: rgb(11, 255, 60);
   font-size: 20px;
   margin-top: 1%;
}

.blog-post h5 .round-image {

   width: 50px; 
   height: 50px; 
   border-radius: 50%; 
   object-fit: cover; 
   
   
}

 .blog-post img {
    text-align: center;
    width: 100%;
    height: 500px;
    border-radius: 8px;
    margin-top: 10px;
    object-fit: cover;
   
 }
 .district {
   background-color: #1d7d3d;
   margin-left: 70%;
 }
 .district p{
   margin-left: 10%;
   color: #ffffff !important;
   text-align: center;
   font-size: 20px;
 }
 .blog-post input{
   width: 60%;
   background-color: transparent;
   color: #ffffff;
   border: 2px solid white;
   margin-bottom: 10%;

 }


 .info-container {
   display: flex;
   margin-top: 2%;
   align-items: center;
   justify-content: space-around;
}

.quantity-info, .contributor-info {
   margin-right: 20px;
   color: #0aff1e;
   /* Adjust as needed for spacing between the divs */
}
.info-bid-container {
   display: flex;
   margin-top: 2%;
   align-items: center;
   justify-content: space-around;
}

.bid-container, .message-container {
   margin-right: 20px;
   color: #0aff1e;
   /* Adjust as needed for spacing between the divs */
}
.bid-container p{
   color: #ffffff;
   font-size: 12px;
   margin-left: -6%;
}

.info-bid-container input{
   width: 60%;
   height: 30px;
   background-color: transparent;
   color: white;
   font-size: 14px;
   margin-right: 3%;
   border-radius: 30px;
   border: 2px solid rgb(0, 255, 0);
}
.info-bid-container button{
   cursor: pointer;
   padding: 2px 2px;
   border-radius: 10px;
   margin-left: 1%;
   background-color: green;
   border: 2px solid rgb(0, 255, 0);
   color: white;
}

.info-bid-container button:hover{
   background-color: rgb(0, 255, 0);
   color: #180505;
   border: 2px solid white;
}
 .button-container {
   display: flex;
   justify-content: space-between;
   width: 100%; /* Adjust width as needed */
   margin: 0 auto; /* Center horizontally */
   background-color: white;
 }
 .message-container p{
   font-size: 12px;
   margin: 0;
 }
 .message-container button{
   width: 40px;
   height: 30px;
   padding: 0 0;
 }
 .message-container button img {
height: 25px;
width: 25px;
 }
 


 .blog-post button.delete_post {
   
   margin-left: 1%;
   margin-bottom: 2%;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 3px 15px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
 }
 .blog-post button.delete_post:hover{
   background-color: rgb(98, 97, 97);
 }




 .comments-section{
   background-color: transparent;
   margin-top: 2%;
   border-radius: 8px;
 }
 .comments-section h1{
   padding-top: 2%;
   margin-left: 2%;
   font-size: 12px;
   color: white;
}
.comment_text textarea {
   background-color: transparent;
   color: White;
   width: 200px;
}
.comments-section p{
   margin-top: 1%;
   margin-left: 10%;
   font-size: 12px;
}
.comments-section p strong{
   padding-left: 3%;
   margin-left: 2%;
}
.comment p .round-image {

   width: 35px; 
   height: 35px; 
   border-radius: 50%; 
   object-fit: cover; 
   margin-left: -10%;   
}
.comments-section h2{
   background-color: #046210;
   font-size: 12px;
   color: white;
   text-align: left;
   margin-left: 20%;
   padding-left: 2%;
   margin-right: 14%;

}
.comments-section h3{
   background-color: #046210;
   font-size: 12px;
   color: white;
   text-align: right;
   margin-left: 20%;
   margin-right: 14%;
   margin-top: -1%;


}

.comment-container {
   display: flex; /* Use flexbox to arrange items */
   align-items: center; /* Align items vertically */
}

.timestamp {
   flex: 1; /* The timestamp div will take up all available space */
   margin-right: 10px;
}

.delete-form {
   flex: 0 0 auto; /* The delete button div will not grow or shrink */
}
.delete-form button{
   border: 2px solid rgb(0, 255, 0);
   background-color: green;
   color: white;
   font-size: 12px;
}
.comment_form form textarea{
   width: 70%;
   height: 30px;
   background-color: transparent;
   color: white;
   font-size: 14px;
   margin-right: 3%;
   border-radius: 30px;
   border: 2px solid rgb(0, 255, 0);
}
.comment_form form button{
   border: 2px solid rgb(0, 255, 0);
   background-color: green;
   color: white;
   font-size: 12px;
}
.comment_form form button:hover{
   cursor: pointer;
   background-color: rgb(0, 255, 0);
   border: 2px solid white;   
}